<?xml version="1.0" encoding="utf-8"?>
<!-- web.config -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Allow Node inspector endpoint without rewriting -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js/debug[\/]?" />
          <action type="None" />
        </rule>

        <!-- Rewrite only when a matching file exists under /public -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- Route all non-file/non-directory requests to Node server -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering removeServerHeader="true">
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />
    <iisnode watchedFiles="web.config;*.js;*.json" />
  </system.webServer>
</configuration>
